<form
  class="ui form"
  [formGroup]="stepForm"
  (submit)="onSubmitStepForm()"
>
  <section>
    <bda-section-header
      title="Koszulka"
      description="Każdy z uczestników otrzyma koszulkę obozową. Informujemy, że ze względów organizacyjnych koszulki mogą nie być dostępne w wybranym rozmiarze i kolorze. Tabela rozmiarów jest dostępna tutaj."
    ></bda-section-header>
    <div>

      <bda-form-input
        [control]="color"
        label="Kolor koszulki">
        <sui-select class="selection" formControlName="color" placeholder="Wybierz jedną z opcji">
          <sui-select-option *ngFor="let option of getShirtColorOptions()"
                             [value]="option">
          </sui-select-option>
        </sui-select>
      </bda-form-input>

      <bda-form-input
        [control]="size"
        label="Rozmiar koszulki">
        <sui-select class="selection" formControlName="size" placeholder="Wybierz jedną z opcji">
          <sui-select-option *ngFor="let option of getShirtSizeOptions()"
                             [value]="option">
          </sui-select-option>
        </sui-select>
      </bda-form-input>

      <bda-form-input
        [control]="clothType"
        label="Rodzaj koszulki">
            <div class="ui radio checkbox" style="display: block; margin-bottom: 0.5rem">
              <input type="radio" formControlName="clothType" value="FEMALE">
              <label>Damska</label>
          </div>
            <div class="ui radio checkbox" style="display: block">
              <input type="radio" formControlName="clothType" value="MALE">
              <label>Męska</label>
            </div>
      </bda-form-input>
    </div>
  </section>
  <bda-form-navigation-buttons
    [config]='{left: {text: "WSTECZ", disabled: false}, right: {text: "DALEJ", disabled: false}}'
    (clickRight)="onSubmitStepForm()"
    (clickLeft)="onNavigateToPreviousStep()"
  ></bda-form-navigation-buttons>
</form>
