@import "../../../../styles/mixins/responsivness";

.bda-academic-ministries{
  margin-top: 1px;
  min-height: 80vh;

  @include gt-xs__screen() {
    background: url('../../../../assets/images/academic-ministries-cottages/camp_cottages_background.jpg') center/cover;
  }
}
