@import "../../../../../styles/mixins/responsivness";

$registration-form-grid-columns-gap: 4rem;

input {
  height: 41.13px;
}

//TODO: Consider better solution!
.field{
  height: 80px;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.bda-personal-data-form__section-content {
  @include gt-sm__screen() {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: $registration-form-grid-columns-gap;
  }
}

//TODO: Change section grid to make form placed well
.bda-personal-data-form__education-section{
  @include gt-sm__screen() {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: $registration-form-grid-columns-gap;
  }
}

.bda-personal-data-form__others-section-content{
  //width: 45%;
}


.bda-personal-data-form__section:nth-of-type(1){
  //padding-top: 3rem;
}
.bda-personal-data-form__section:nth-of-type(2),
.bda-personal-data-form__section:nth-of-type(3),
.bda-personal-data-form__section:nth-of-type(4){
  padding-top: 2rem;
}

.bda-agreement-checkbox{
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
  padding-left: 1rem;
  padding-right: 1rem;
}

.bda-invalid-checkbox-field{
  background-color: #FFD9D9;
  border-radius: 4px;
}

