<header class="bda-header">
  <div class="bda-header-content" fxLayoutAlign="flex-start center">
    <img src="assets/images/bialydunajec_header_logo.png" alt="">
    <div class="bda-navigation" fxLayoutAlign="flex-end">
      <div fxLayout="row" fxLayoutAlign="flex-end center" fxLayoutGap="30px">
        <ul fxLayout fxLayoutGap="30px" class="navigation-items" fxHide.lt-lg>
          <li><a routerLink="/aktualnosci" routerLinkActive="link-active">Aktualności</a></li>
          <li><a routerLink="/o-obozie" routerLinkActive="link-active">O obozie</a></li>
          <li><a routerLink="/dojazd" routerLinkActive="link-active">Dojazd</a></li>
          <li><a routerLink="/duszpasterstwa-i-chatki" routerLinkActive="link-active">Duszpasterstwa i chatki</a></li>
          <li><a routerLink="/galeria" routerLinkActive="link-active">Galeria</a></li>
          <li><a routerLink="/kontakt" routerLinkActive="link-active">Kontakt</a></li>
        </ul>
        <bda-camp-sign-up-button></bda-camp-sign-up-button>
      </div>
    </div>
  </div>
</header>
