<section class="bda-faq bda-page-section" fxLayoutAlign="center">
  <div fxFlex.lt-lg="90%" fxFlex="800px">

    <div fxLayoutAlign="space-between">
      <bda-section-header
        title="FAQ"
        description="Tutaj znajdziesz najczęściej zadawane pytania."
        [divider]="false"></bda-section-header>
      <!--<sui-search placeholder="Przeszukaj"></sui-search>-->
    </div>
    <div class="ui divider"></div>

    <bda-faq-category
      *ngFor="let category of categories"
      [category]="category"></bda-faq-category>

  </div>
</section>
