<div class="bda-admin-current-user" style="display: flex; align-items: center">
  <bda-admin-user-avatar
    [userViewModel]="{userId: currentUser.userId, displayName: currentUser.username, emailAddress: currentUser.emailAddress }"
    tooltipPlacement="none"
  ></bda-admin-user-avatar>

  <button
    style="margin-left: 2rem"
    nz-button
    nzType="basic"
    (click)="onClickLogout()"><i nz-icon type="logout" theme="outline"></i>Wyloguj</button>
  <!--<nz-dropdown>
    <a nz-dropdown style="font-size: 1.2rem;">
      <i class="anticon medium anticon-setting"></i>
    </a>
    <ul nz-menu nzSelectable>
      <li nz-menu-item>
        <a>Profil</a>
      </li>
      <li nz-menu-item>
        <a (click)="onClickLogout()">Wyloguj</a>
      </li>
    </ul>
  </nz-dropdown>-->
</div>
