@import "../../../../styles/mixins/responsivness";

.bda-packlist-info-content {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  max-width: 100%;

  @include gt-sm__screen {
    max-width: 60%;
    padding: 2rem;
  }
}
