<div style="margin-top: 10px;">
  <bda-photo-info-card
    imagePosition="left"
    [imageSrc]="'assets/images/about-camp/packlist_plecak.jpg'">
    <div class="bda-packlist-info-content">
      <h1 style="text-align: center">Pakowanie</h1>
      <p style="text-align: center">
        Przygotowaliśmy dla Ciebie listę rzeczy do spakowania na Obóz.
        To aż 50 szczegółowych pozycji z komentarzem!
        Korzystając z niej, jesteś pewny, że zabrałes wszystko, czego potrzebujesz. W drodze do Białego Dunajca
        nie będziesz musiał zastanawiać się, czy przypadkiem czegoś nie zapomniałeś!
      </p>
      <a target="_blank" rel="noopener noreferrer" href="https://docs.google.com/spreadsheets/d/1xfSJZ9mWxAmZ7yoowdLqRHiS-qW0wS0mU5TgcWvBeyI/edit#gid=880475166"><button class="ui orange button">Pobierz listę do wypełnienia</button></a>
    </div>
  </bda-photo-info-card>
</div>
