<section>
  <div fxLayout="column" fxLayoutAlign="flex-start center">

    <div class="ui raised card bda-cottage-card">
      <div style="padding: 0;">
        <div class="ui items">
          <div class="item">
            <div class="ui image">
              <img src="assets/images/temp-placeholders/antoni_chatka_235.jpg" alt="">
            </div>
            <div fxLayout="column" fxLayoutAlign="center center" class="content">
              <h2>Chatka Antoni</h2>
              <i class="huge map signs icon" style="margin: 10px"></i>
              <div class="meta">
                ul. Jana Pawła II 341a <br>
                <br>
                34-425 Biały Dunajec
              </div>
              <bda-camp-sign-up-button [style]="{width: '200px'}" style="padding-top: 20px"></bda-camp-sign-up-button>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div fxLayout fxLayoutAlign="space-between flex-start" fxLayoutGap="40px" class="bda-cottage-description">

      <div fxLayout="column" fxLayoutAlign="flex-start center" class="bda-cottage-section">
        <img src="assets/images/icons/restaurant.png" alt="">
        <p class="bda-cottage-section-title">Jak jemy?</p>
        <span>
          Jemy 3 posiłki dziennie: śniadanie, obiad i kolację. Dodatkowo na każdą trasę zabieramy suchy prowiant.
        </span>
      </div>

      <div fxLayout="column" fxLayoutAlign="flex-start center" class="bda-cottage-section">
        <img src="assets/images/icons/restaurant.png" alt="">
        <p class="bda-cottage-section-title">Jak śpimy?</p>
        <span>
          Jemy 3 posiłki dziennie: śniadanie, obiad i kolację. Dodatkowo na każdą trasę zabieramy suchy prowiant.
        </span>
      </div>

      <div fxLayout="column" fxLayoutAlign="flex-start center" class="bda-cottage-section">
        <img src="assets/images/icons/restaurant.png" alt="">
        <p class="bda-cottage-section-title">30/55</p>
        <span>
          Jemy 3 posiłki dziennie: śniadanie, obiad i kolację. Dodatkowo na każdą trasę zabieramy suchy prowiant.
        </span>
      </div>

    </div>


    <div>

    </div>


  </div>
</section>
