.bda-cottage-card {
  width: 650px;
  min-height: 300px;
}

.bda-cottage-description {
  width: 650px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.bda-cottage-section {
  img {
    width: 80px;
    height: 80px;
  }
  span {
    text-align: center;
  }
}

.bda-cottage-section-title {
  font-weight: bold;
  font-size: 1.25rem;
}

