<section class="bda-admin-academic-ministry-edit">
  <div style="display: flex;">
    <bda-admin-breadcrumbs
      [breadcrumbs]="isEditMode ? ['Duszpasterstwa', shortNameFormControl.value ? shortNameFormControl.value : officialNameFormControl.value, 'Edytuj'] : ['Duszpasterstwa', 'Dodaj nowe']"
    ></bda-admin-breadcrumbs>
    <button [disabled]="isEditMode && !academicMinistryForm.dirty" style="margin-left: 2rem" nz-button nzType="primary" [nzLoading]="submittingInProgress" type="submit" form="academic-ministry-form">{{isEditMode ? 'Zatwierdź wszystkie zmiany' : 'Dodaj duszpasterstwo'}}</button>
  </div>
  <nz-form-item>
    <bda-admin-http-response-alter [alter]="lastAlert"></bda-admin-http-response-alter>
  </nz-form-item>
  <div class="bda-admin-academic-ministry-edit__content">
    <form
      id="academic-ministry-form"
      class="bda-admin-academic-ministry-edit__form"
      nz-form
      [formGroup]="academicMinistryForm"
      (ngSubmit)="onSubmit()">
      <div class="bda-admin-panel-section-card">
        <h3><b>DANE OGÓLNE</b></h3>
        <nz-divider></nz-divider>

        <nz-form-item>
          <nz-form-label nzRequired nzFor="officialName">Nazwa oficjalna</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="officialName" id="officialName">
            <nz-form-explain *ngIf="officialNameFormControl.dirty && officialNameFormControl.errors">Proszę wypełnić pole.</nz-form-explain>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label nzFor="shortName">
             <span>
            Nazwa potoczna (skrócona)
            <nz-tooltip
              nzTitle="To nazwa, która będzie wyświetlać się w większości miejsc na stronie, np. przy wyborze chatki do zapisów.">
              <i nz-tooltip class="anticon anticon-question-circle-o"></i>
            </nz-tooltip>
          </span>
          </nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="shortName" id="shortName">
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label nzFor="logoImageUrl">Logo duszpasterstwa (url)</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="logoImageUrl" id="logoImageUrl" #imageUrlInput>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item class="bda-admin-academic-ministry-edit__logo-preview">
          <img [src]="imageUrlInput.value ? imageUrlInput.value : 'assets/images/placeholder/placeholder_church.png'"
               class="img-responsive"
               alt="Brak obrazu pod wskazanym url.">
        </nz-form-item>
      </div>

      <div class="bda-admin-panel-section-card">
        <h3><b>DANE KONTAKTOWE</b></h3>
        <nz-divider></nz-divider>
        <nz-form-item>
          <nz-form-label nzFor="emailAddress">Adres e-mail</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="emailAddress" id="emailAddress">
          </nz-form-control>
        </nz-form-item>

        <h3><b>LOKALIZACJA</b></h3>
        <nz-divider></nz-divider>
        <div formGroupName="place">
          <div formGroupName="address">

            <div class="bda-admin-form-group-address-street">
              <nz-form-item class="bda-admin--form-input-street">
                <nz-form-label nzFor="street" nzRequired>Ulica</nz-form-label>
                <nz-form-control>
                  <input nz-input formControlName="street" id="street">
                  <nz-form-explain *ngIf="streetFormControl.dirty && streetFormControl.errors">Proszę wypełnić pole.</nz-form-explain>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item class="bda-admin--form-input-home-number">
                <nz-form-label nzFor="homeNumber">Nr domu</nz-form-label>
                <nz-form-control>
                  <input nz-input formControlName="homeNumber" id="homeNumber">
                </nz-form-control>
              </nz-form-item>
            </div>

            <div class="bda-admin-form-group-address-city">
              <nz-form-item class="bda-admin-form-input-postal-code">
                <nz-form-label nzFor="postalCode">Kod pocztowy</nz-form-label>
                <nz-form-control>
                  <input nz-input formControlName="postalCode" id="postalCode">
                </nz-form-control>
              </nz-form-item>
              <nz-form-item class="bda-admin-form-input-city">
                <nz-form-label nzFor="city" nzRequired>Miasto</nz-form-label>
                <nz-form-control>
                  <input nz-input formControlName="city" id="city">
                </nz-form-control>
                <nz-form-explain *ngIf="cityFormControl.dirty && cityFormControl.errors">Proszę wypełnić pole.</nz-form-explain>
              </nz-form-item>
            </div>

          </div>
        </div>
      </div>

      <div class="bda-admin-panel-section-card">
        <h3><b>OPIS DUSZPASTERSTWA</b></h3>
        <nz-divider></nz-divider>
        <div formGroupName="description">
          <nz-form-item>
            <nz-form-label nzFor="title">Tytuł</nz-form-label>
            <nz-form-control>
              <input nz-input formControlName="title" id="title" #descriptionTitleInput>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzFor="content">Treść</nz-form-label>
            <nz-form-control>
              <textarea formControlName="content" id="content" nz-input [nzAutosize]="{ minRows: 2, maxRows: 2 }"></textarea>
              <nz-form-explain *ngIf="descriptionContentFormControl.dirty && descriptionContentFormControl.errors">Proszę wpisać choćby krótki opis.</nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </div>

        <nz-form-item>
          <nz-form-label nzFor="photoUrl">Zdjęcie duszpasterstwa (url)</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="photoUrl" id="photoUrl" #photoUrlInput>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item class="bda-admin-academic-ministry-edit__logo-preview">
          <img [src]="photoUrlInput.value ? photoUrlInput.value : 'assets/images/placeholder/placeholder_church.png'"
               class="img-responsive"
               alt="Brak obrazu pod wskazanym url.">
        </nz-form-item>

      </div>

      <div class="bda-admin-panel-section-card">
        <h3><b>MEDIA SPOŁECZNOŚCIOWE</b></h3>
        <nz-divider></nz-divider>

        <div formGroupName="socialMedia">
          <nz-form-item>
            <nz-form-label nzFor="webPageUrl">Strona internetowa</nz-form-label>
            <nz-form-control>
              <nz-input-group nzPrefixIcon="anticon anticon-global">
                <input type="text" nz-input formControlName="webPageUrl" placeholder="www.duszpasterstwo.pl">
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzFor="facebookPageUrl">Strona na facebooku (FanPage)</nz-form-label>
            <nz-form-control>
              <nz-input-group nzPrefixIcon="anticon anticon-facebook">
                <input type="text" nz-input formControlName="facebookPageUrl" placeholder="www.facebook.com/<strona Twojego DA>">
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzFor="facebookGroupUrl">Grupa na facebooku</nz-form-label>
            <nz-form-control>
              <nz-input-group nzPrefixIcon="anticon anticon-facebook">
                <input type="text" nz-input formControlName="facebookGroupUrl" placeholder="www.facebook.com/groups/<grupa Twojego DA>">
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzFor="instagramUrl">Instagram</nz-form-label>
            <nz-form-control>
              <nz-input-group nzPrefixIcon="anticon anticon-instagram">
                <input type="text" nz-input formControlName="instagramUrl" placeholder="www.instagram.com/<profil Twojego DA>">
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzFor="youTubeChannelUrl">Kanał YouTube</nz-form-label>
            <nz-form-control>
              <nz-input-group nzPrefixIcon="anticon anticon-youtube">
                <input type="text" nz-input formControlName="youTubeChannelUrl" placeholder="www.youtube.com/channel/<kanał Twojego DA>">
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <div class="bda-admin-panel-section-card">
        <h3><b>DUSZPASTERZE</b></h3>
        <nz-divider></nz-divider>
        DODAJ DUSZPASTERZA
      </div>
    </form>
  </div>

</section>
