<div class="ui large buttons">
  <button
    class="ui button bda-dual-button"
    [ngClass]="(this.selected == 'left') ? selectionColor : ''"
    (click)="onOptionSelected('left')"
  ><i *ngIf="options.left.icon" class="icon" [ngClass]="options.left.icon"></i>{{options.left.name}}
  </button>
  <button
    class="ui button bda-dual-button"
    [ngClass]="(this.selected == 'right') ? selectionColor : ''"
    (click)="onOptionSelected('right')"
  ><i *ngIf="options.right.icon" class="icon" [ngClass]="options.right.icon"></i>{{options.right.name}}
  </button>
</div>
