<section>
  <div style="display: flex; justify-content: space-between;">
    <bda-admin-breadcrumbs
      [breadcrumbs]="['Zapisy na Obóz','Ustawienia zapisów']"
    ></bda-admin-breadcrumbs>
    <bda-admin-camp-edition-selection
      (campEditionIdSelected)="onCampEditionIdSelected($event)"
      [campEditionsObservable]="availableCampEditions"></bda-admin-camp-edition-selection>
  </div>
  <div
    class="bda-admin-camp-registrations-settings__form"
    *ngIf="selectedCampRegistrations | async as campEdition"
  >
    <div id="camp-edition-preview"
         class="bda-admin-panel-section-card--preview">
      <div style="display: flex; justify-content: space-between; align-items: center">
        <h2>{{RomanNumerals.numberToRoman(campEdition.campRegistrationsEditionId)}}
          Edycja
          Obozu</h2>
        <label class="preview-label">podgląd</label>
      </div>
      <nz-divider></nz-divider>
      <div>
        <h3><b>Czas trwania Obozu:</b> od {{campEdition.editionStartDate | date:'d.MM.yyyy'}} do
          {{campEdition.editionEndDate | date:'d.MM.yyyy' }}</h3>
        <h3><b>Cena wyjazdu:</b> {{campEdition.editionPrice}} zł</h3>
        <h3><b>Kwota zadatku:</b> {{campEdition.editionDownPaymentAmount}} zł</h3>
      </div>
    </div>

    <div
      id="timer"
      class="bda-admin-panel-section-card"
      *ngIf="false"
    >
      <!--*ngIf="campEdition.campRegistrations as campRegistrations"-->
      <h2 style="font-weight: bold">Przełącznik Czasowy</h2>
      <nz-divider></nz-divider>
      <div>
        <h3><b>Ustal czas trwania zapisów:</b></h3>
      </div>
    </div>

    <div
      id="statuses"
      class="bda-admin-panel-section-card"
      *ngIf="campEdition.campRegistrations as campRegistrations"
    >
      <h2 style="font-weight: bold">Status Zapisów</h2>
      <nz-divider></nz-divider>
      <div style="margin-bottom: 1rem;">
        <h3><b>Aktualny status zapisów:</b></h3>
        <div [ngSwitch]="campRegistrations.status" #statusTemplate style="text-align: center">
          <!--<h3 *ngSwitchCase="'UNCONFIGURED_TIMER'" style="color: red;"><b>NIESKONFIGUROWANY PRZEŁĄCZNIK CZASOWY</b></h3>
          <h3 *ngSwitchCase="'CONFIGURED_TIMER'" style="color: greenyellow;"><b>SKONFIGUROWANY PRZEŁĄCZNIK CZASOWY</b></h3>-->
          <h3 *ngSwitchCase="'UNCONFIGURED_TIMER'" style="color: red;"><b>NIE ROZPOCZĘTE</b></h3>
          <h3 *ngSwitchCase="'CONFIGURED_TIMER'" style="color: greenyellow;"><b>NIE ROZPOCZĘTE</b></h3>
          <h3 *ngSwitchCase="'IN_PROGRESS'" style="color: green;"><b>W TRAKCIE</b></h3>
          <h3 *ngSwitchCase="'SUSPENDED'" style="color: yellow;"><b>WSTRZYMANE</b></h3>
          <h3 *ngSwitchCase="'FINISHED'" style="color: blueviolet;"><b>ZAKOŃCZONE</b></h3>
          <h3 *ngSwitchCase="'ARCHIVED'" style="color: sandybrown;"><b>ZARCHIWIZOWANE</b></h3>
        </div>
      </div>

      <h3><b>Dostępne akcje dla aktualnego statusu:</b></h3>
      <div style="text-align: center">
        <div *ngIf="campRegistrations.status == 'UNCONFIGURED_TIMER' || campRegistrations.status == 'CONFIGURED_TIMER'">
          <button
            nz-button nzType="primary" type="button"
            nz-popconfirm
            nzTitle="Czy na pewno chcesz rozpocząć teraz zapisy? Umożliwi to przejście do formularza zapisów obozu, jeśli choć jedna chatka jest aktywna."
            [nzLoading]="changingStatusInProgress"
            (nzOnConfirm)="startCampRegistrations()"
          ><i class="anticon anticon-check"></i>Rozpocznij teraz
          </button>
        </div>
        <div *ngIf="campRegistrations.status == 'IN_PROGRESS'">
          <button
            nz-button nzType="primary" type="button"
            nz-popconfirm
            nzTitle="Czy na pewno chcesz wstrzymać zapisy? Nie będzie wtedy możliwy zapis do żadnej chatki."
            [nzLoading]="changingStatusInProgress"
            (nzOnConfirm)="suspendCampRegistrations()"
          ><i class="anticon anticon-pause"></i>Wstrzymaj
          </button>
          <button
            nz-button nzType="primary" type="button"
            nz-popconfirm
            nzTitle="Czy na pewno chcesz definitywnie zakończyć zapisy? Ich ponowne wznowienie nie będzie możliwe."
            [nzLoading]="changingStatusInProgress"
            (nzOnConfirm)="finishCampRegistrations()"
          ><i class="anticon anticon-close"></i>Zakończ
          </button>
        </div>
        <div *ngIf="campRegistrations.status == 'SUSPENDED'">
          <button
            nz-button nzType="primary" type="button"
            nz-popconfirm
            nzTitle="Czy na pewno chcesz przywrócić zapisy? Możliwy będzie wtedy zapis na obóz przez formularz."
            [nzLoading]="changingStatusInProgress"
            (nzOnConfirm)="unsuspendCampRegistrations()"
          ><i class="anticon anticon-rollback"></i>Przywróc po wstrzymaniu
          </button>
          <button
            nz-button nzType="primary" type="button"
            nz-popconfirm
            nzTitle="Czy na pewno chcesz definitywnie zakończyć zapisy? Ich ponowne wznowienie nie będzie możliwe."
            [nzLoading]="changingStatusInProgress"
            (nzOnConfirm)="finishCampRegistrations()"
          ><i class="anticon anticon-close"></i>Zakończ
          </button>
        </div>
        <div *ngIf="campRegistrations.status == 'FINISHED'">
          <!--<button nz-button nzType="primary" type="button">Przywróc po zakończeniu</button>-->
        </div>
      </div>
      <nz-alert
        nzType="info"
        nzMessage="Statusy Zapisów"
        [nzDescription]="campRegistrationStatusesDescription"
        nzShowIcon>
      </nz-alert>
      <ng-template #campRegistrationStatusesDescription>
        <p>Zapisy mogą przyjmować następujące statusy:</p>
        <!--<p><b>NIESKONFIGUROWANY PRZEŁĄCZNIK CZASOWY</b> - nie ustalono kiedy należy uruchomić zapisy</p>
        <p><b>SKONFIGUROWANY PRZEŁĄCZNIK CZASOWY</b> - zapisy rozpoczną się i skończą wg. ustalonych ram czasowych</p>-->
        <p><b>NIE ROZPOCZĘTE</b> - zapisy nie zostały jeszcze rozpoczęte. Aby było to możliwe zakończ wszystkie inne trwające zapisy.</p>
        <p><b>W TRAKCIE</b> - aktualnie aktywne zapisy.</p>
        <p><b>WSTRZYMANE</b> - zapisy zostały zawieszone przez administratora. Aby kontunować konieczne jest ręczne
          przywrócenie</p>
        <p><b>ZAKOŃCZONE</b> - zapisy zostały zakończone, mogą zostać ręcznie
          przywrócone</p>
        <!--<p><b>ZARCHIWIZOWANE</b> - status ostateczny, obóz został zakończony, a dane personalne uczestników
          zanonimizowane</p>-->
      </ng-template>
    </div>

    <div
      *ngIf="false"
      id="regulations-and-agreements"
      class="bda-admin-panel-section-card"
    >
      <h2 style="font-weight: bold">Regulaminy i zgody</h2>
      <nz-divider></nz-divider>
      <div>
        <h3><b>Ustal regulaminy do zaakceptowania przez uczestników Obozu:</b></h3>
      </div>
    </div>

    <div
      *ngIf="false"
      id="statistical-questions"
      class="bda-admin-panel-section-card"
    >
      <h2 style="font-weight: bold">Pytania statystyczne</h2>
      <nz-divider></nz-divider>
      <div>
        <h3><b>Określ pytania na jakie chcesz uzyskać odpowiedź przy zapisach uczestników:</b></h3>
      </div>
    </div>

  </div>
</section>
