@import '../../../../styles/responsivness';

/*
.bda-admin-camp-registrations-settings__form{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.5rem;

  .gt-md__screen({ grid-template-columns: 1fr 1fr; });
  .gt-xl__screen({ grid-template-columns: 1fr 1fr 1fr; });

}
*/

.preview-label{
  color: #1890ff;
  border: 2px solid #1890ff;
  padding: 1px 10px 3px 10px;
  border-radius: 4px;
  line-height: 18px;
  display: inline;
  font-weight: 700;
  text-transform: uppercase;
}

.bda-admin-camp-registrations-settings__form{
  display: grid;
  grid-gap: 1.5rem;
  grid:
    "   camp      statuses    actions      " 12rem
    "   timer   statuses    actions      " auto
    /   1fr       1fr         1fr;

  button{
    margin: 1rem;
  }
}

#camp-edition-preview{
  grid-area: camp;
}

#timer{
  grid-area: timer;
}

#actions{
  grid-area: actions;
}

#statuses{
  grid-area: statuses;
}
