<section>
  <div style="display: flex; justify-content: space-between;">
    <bda-admin-breadcrumbs
      [breadcrumbs]="['Zapisy na Obóz','Chatki Obozowe']"
    ></bda-admin-breadcrumbs>
    <bda-admin-camp-edition-selection
      (campEditionIdSelected)="onCampEditionIdSelected($event)"
      [campEditionsObservable]="availableCampEditions"></bda-admin-camp-edition-selection>
  </div>
  <div class="bda-admin-cottage-list-content">
    <bda-admin-new-cottage-card></bda-admin-new-cottage-card>
  </div>
</section>
