<section>
  <div fxLayout="column" fxLayoutAlign="flex-start center">

    <bda-photo-info-card [imageSrc]="'assets/images/temp-placeholders/antoni_chatka_235.jpg'">
      <h2>Chatka Antoni</h2>
      <i class="huge map signs icon" style="margin: 10px"></i>
      <div class="meta">
        ul. Jana Pawła II 341a <br>
        <br>
        34-425 Biały Dunajec
      </div>
      <bda-camp-sign-up-button [style]="{width: '200px'}" style="padding-top: 20px"></bda-camp-sign-up-button>
    </bda-photo-info-card>

    <!--TODO: Make it equals high!-->
    <div fxLayout fxLayoutAlign="space-between flex-start" fxLayoutGap="40px" class="bda-cottage-description">

      <div fxLayout="column" fxLayoutAlign="flex-start center" class="bda-cottage-section">
        <img src="assets/images/icons/restaurant.png" alt="">
        <p class="bda-cottage-section-title">Jak jemy?</p>
        <span>
          Jemy 3 posiłki dziennie: śniadanie, obiad i kolację. Dodatkowo na każdą trasę zabieramy suchy prowiant.
        </span>
      </div>

      <div fxLayout="column" fxLayoutAlign="flex-start center" class="bda-cottage-section">
        <img src="assets/images/icons/restaurant.png" alt="">
        <p class="bda-cottage-section-title">Jak śpimy?</p>
        <span>
          W pokojach od 2- do 6- osobowych.
          Każdy pokój posiada osobną łazienkę.
          Na niektórych piętrach posiadamy dodatkowe łazienki.
        </span>
      </div>

      <div fxLayout="column" fxLayoutAlign="flex-start center" class="bda-cottage-section">
        <img src="assets/images/icons/restaurant.png" alt="">
        <p class="bda-cottage-section-title">30/55</p>
        <span>
          Ilość zajętych miejsc w tej chatce. Śpiesz się! :)
        </span>
      </div>

    </div>


    <div>

      <bda-photo-info-card [imageSrc]="'assets/images/temp-placeholders/antoni_szef_235.jpg'" imagePosition="right">
        <h2>Dominika Piguła</h2>
        <p class="meta">Szefowa chatki</p>

        <p class="meta" style="text-align: center"><b>Polietchnika Wrocławska</b><br>Inżynieria chemiczna i
          procesowa</p>

        <p class="meta">999 999 999</p>
        <p class="meta">adres-email@gmail.com</p>
      </bda-photo-info-card>

    </div>

  </div>
</section>
