<div class="bda-header">
  <div class="bda-header-content" fxLayoutAlign="flex-start center">
    <img src="assets/images/bialydunajec_header_logo.png" alt="">
    <div class="bda-navigation" fxLayoutAlign="flex-end">
      <div fxLayout="row" fxLayoutAlign="flex-end center" fxLayoutGap="30px">
        <ul fxLayout fxLayoutGap="30px" class="navigation-items" fxHide.lt-lg>
          <li><a routerLink="/aktualnosci">Aktualności</a></li>
          <li><a routerLink="/o-obozie">O obozie</a></li>
          <li><a routerLink="/dojazd">Dojazd</a></li>
          <li><a routerLink="/duszpasterstwa-i-chatki">Duszpasterstwa i chatki</a></li>
          <li><a routerLink="/galeria">Galeria</a></li>
          <li><a routerLink="/kontakt">Kontakt</a></li>
        </ul>
        <button class="ui orange button">ZAPISZ SIĘ!</button>
      </div>
    </div>
  </div>
</div>
