.bda-header {
  background-color: white;
  height: 100px;
}

.bda-header-content {
  height: 100%;
  width: 80%;
  margin: auto;
}

.bda-navigation {
  width: 100%;
}

.navigation-items {
  list-style: none;
  padding: 0;
  margin: 0;
}
