<section>
  <div style="display: flex; justify-content: space-between;">
    <bda-admin-breadcrumbs
      [breadcrumbs]="['Wiadomości Email','Historia']"
    ></bda-admin-breadcrumbs>
  </div>
  <div class="bda-admin-email-history__content">

    <div
      id="messages-search"
      class="bda-admin-panel-section-card"
      *ngIf="emailStatistics$ | async as emailStatistics">
      <h2>Podsumowanie</h2>
      <nz-divider style="margin-bottom: 1rem;"></nz-divider>
      <h3><b>Wszystkich wiadomości:</b> {{emailStatistics.messagesCount}}</h3>
      <h3><b>Wysłanych:</b> {{emailStatistics.sentSuccessCount}}</h3>
      <h3><b>Błąd wysyłania:</b> {{emailStatistics.sentFailureCount}}</h3>
      <h3><b>Oczekujących:</b> {{emailStatistics.pendingCount}}</h3>

    </div>


    <div
      id="messages-statistics"
      class="bda-admin-panel-section-card">
      <h2>Wyszukiwanie wiadomości</h2>
      <nz-divider></nz-divider>
      Szukaj
    </div>

    <div
      id="messages-list"
      class="bda-admin-panel-section-card"
      *ngIf="emailMessages">
      <div style="display: flex; align-items: center;">
        <h2 style="display: inline-block; margin-right: 1rem; ">Wysłane wiadomości e-mail</h2>
        <button
          *ngIf="newMessagesAvailable"
          nz-button class="mat-icon-button"
          (click)="loadEmailMessages()"><i class="anticon material-icons">replay</i> Pojawiły się nowe wiadomości. Odśwież</button>
      </div>
      <nz-divider></nz-divider>
      <div>
        <nz-table
          class="bda-camp-participant-table"
          #emailMessagesTable
          [nzData]="emailMessages"
          [nzTotal]="emailMessages.length"
          nzNoResult="Z systemu nie wysłano jeszcze żadnych wiadomości email!">
          <thead>
          <tr>
            <th>Adresat</th>
            <th>Temat</th>
            <th>Utworzono</th>
            <th>Wysłano</th>
            <th nzShowExpand></th>
          </tr>
          </thead>
          <tbody>
          <ng-template ngFor let-data [ngForOf]="emailMessagesTable.data">
            <tr>
              <td>{{data.recipient}}</td>
              <td>{{data.subject}}</td>
              <td>{{data.createdDate | date:'d.MM.yyyy HH:mm:ss'}}</td>
              <td *ngIf="data.status == 'SENT'">{{data.sentDate | date:'d.MM.yyyy HH:mm:ss'}}</td>
              <td *ngIf="data.status == 'FAIL_TO_SEND'">
                Niepowodzenie
                <button
                  nz-button class="mat-icon-button"
                  style="margin-left: 1rem;"
                  (click)="resendEmailMessage(data)"
                >Ponów <i class="anticon material-icons">repeat</i></button>
              </td>
              <td *ngIf="data.status == 'PENDING'">Oczekująca</td>
              <td *ngIf="data.status == 'SENDING'">Wysyłanie...</td>
              <td nzShowExpand [(nzExpand)]="data.expand"></td>
            </tr>
            <tr [nzExpand]="data.expand">
              <td [attr.colspan]="20">
                <p><b>Treść wiadomości:</b></p>
                <pre
                  style="font: inherit; max-width: 100%; font-size: 1rem; white-space: pre-wrap;">{{data.content}}</pre>

               <!--
               TODO: Message forward
               <button nz-button nzType="primary"
                        (click)="forwardEmailMessage(data)"><i class="anticon anticon-mail"></i>Przekaż wiadomość
                </button>-->
              </td>
            </tr>
          </ng-template>
          </tbody>
        </nz-table>
      </div>


    </div>
  </div>
</section>
