<div class="bda-admin-login-page">
  <header>
    <img src="assets/images/bialydunajec_header_logo.png" alt="">
  </header>
  <nz-card class="bda-admin-login-page__card" [nzTitle]="cardTitle">
    <ng-template #cardTitle>
      <b style="display: block; text-align: center;">PANEL ADMINISTRACYJNY</b>
    </ng-template>
    <form nz-form [formGroup]="loginForm" class="bda-admin-login-form" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-control>
          <nz-input-group nzPrefixIcon="anticon anticon-user">
            <input type="text" nz-input formControlName="userLogin" placeholder="Nazwa użytkownika lub e-mail">
          </nz-input-group>
          <nz-form-explain *ngIf="userLoginFormControl.dirty && userLoginFormControl.errors">Proszę wypełnić pole.
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <nz-input-group nzPrefixIcon="anticon anticon-lock">
            <input type="password" nz-input formControlName="password" placeholder="Hasło">
          </nz-input-group>
          <nz-form-explain *ngIf="passwordFormControl.dirty && passwordFormControl.errors">Proszę podać hasło.
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <label nz-checkbox formControlName="remember">
            <span>Zapamiętaj mnie</span>
          </label>
          <button nz-button class="bda-admin-login-form__button" [nzType]="'primary'">Zaloguj się</button>
        </nz-form-control>
      </nz-form-item>
      <a class="bda-admin-login-form__forgot-password-link">Nie pamiętasz hasła?</a>
    </form>
  </nz-card>
  <a class="bda-main-page-link">← Powrót do Strony Głównej</a>
</div>
