<form
  class="bda-personal-data-form ui form"
  [formGroup]="stepForm"
  (ngSubmit)="onSubmitStepForm()"
>
  <section class="bda-personal-data-form__section">
    <bda-section-header
      title="Dane Uczestnika"
      description="Dane osobowe są niezbędne do zbiorowego ubezpieczenia uczestników i nie będą udostępniane zewnętrznym podmiotom."
    ></bda-section-header>

    <div class="bda-personal-data-form__section-content">
      <div
        class="bda-personal-data-form__personal-data-section"
        formGroupName="personalData"
      >
        <bda-form-input
          [control]="gender"
          label="Płeć">
          <bda-dual-toggle-button
            formControlName="gender"
            [options]="{ left: { name: 'Kobieta', value: 'FEMALE'}, right: { name: 'Mężczyzna' , value: 'MALE'} }">
          </bda-dual-toggle-button>
        </bda-form-input>

        <bda-form-input
          [control]="firstName"
          label="Imię">
          <input type="text" formControlName="firstName" placeholder="Mateusz" id="firstName-input">
        </bda-form-input>
        <bda-form-input
          [control]="lastName"
          label="Nazwisko">
          <input type="text" formControlName="lastName" placeholder="Nowak" id="lastName-input">
        </bda-form-input>
        <bda-form-input
          [control]="pesel"
          label="Pesel"
          [errorDefs]="{invalidPesel: 'Niepoprawny numer PESEL'}"
        >
          <input type="text" formControlName="pesel" placeholder="99010112345" maxlength="11" id="pesel-input">
        </bda-form-input>
      </div>

      <div>
        <div
          class="bda-personal-data-form__home-address-section"
          formGroupName="homeAddress"
        >
          <div style="display: flex; justify-content: space-between;">
            <bda-form-input
              style="flex: 12; margin-right: 10px"
              [control]="street"
              label="Ulica">
              <input type="text" formControlName="street" placeholder="Przykładowa" id="street-input">
            </bda-form-input>
            <bda-form-input
              style="flex: 5; margin-left: 10px"
              [control]="number"
              label="Nr domu">
              <input type="text" formControlName="number" placeholder="192a/2" id="number-input">
            </bda-form-input>
          </div>

          <div style="display: flex; justify-content: space-between">
            <bda-form-input
              style="flex: 5; margin-right: 10px"
              [control]="postalCode"
              label="Kod pocztowy">
              <input type="text" formControlName="postalCode" placeholder="12-345" id="postalCode-input">
            </bda-form-input>
            <bda-form-input
              style="flex: 12; margin-left: 10px"
              [control]="city"
              label="Miasto">
              <input type="text" formControlName="city" placeholder="Wrocław" id="city-input">
            </bda-form-input>
          </div>

        </div>

        <div
          class="bda-personal-data-form__contact-section"
          formGroupName="contact"
        >
          <bda-form-input
            [control]="emailAddress"
            label="Email"
            [errorDefs]="{email: 'Niepoprawny adres email'}"
          >
            <input type="email" formControlName="email" placeholder="jan.kowalski@test.com" id="email-input">
          </bda-form-input>

          <bda-form-input
            [control]="phoneNumber"
            label="Telefon">
            <input type="tel" formControlName="telephone" placeholder="Preferowany format: 000-000-000" id="phoneNumber-input">
          </bda-form-input>

        </div>
      </div>
    </div>
  </section>

  <section
    class="bda-personal-data-form__section"
  >
    <bda-section-header
      title="Uczelnia"
      description="Potrzebne do zaplanowania imprez obozowych. Jeśli jeszcze nie studiujesz, podaj uczelnię, na której chciałbyś studiować."
    ></bda-section-header>
    <div
      class="bda-personal-data-form__education-section"
      formGroupName="education"
    >
      <div class="bda-personal-data-form__university-section">
        <bda-form-input
          [control]="university"
          label="Uczelnia">
          <input type="text" formControlName="university" placeholder="Politechnika Wrocławska" id="university-input">
        </bda-form-input>
        <bda-form-input
          [control]="faculty"
          label="Wydział">
          <input type="text" formControlName="faculty" placeholder="Informatyki i Zarządzania" id="faculty-input">
        </bda-form-input>
        <bda-form-input
          [control]="fieldOfStudy"
          label="Kierunek">
          <input type="text" formControlName="fieldOfStudy" placeholder="Informatyka" id="fieldOfStudy-input">
        </bda-form-input>
      </div>
      <div class="bda-personal-data-form__high-school-section">
        <div class="field">
          <sui-checkbox formControlName="isRecentHighSchoolGraduate" id="isRecentHighSchoolGraduate-checkbox">
            <b>Jestem tegorocznym maturzystą</b>
          </sui-checkbox>
        </div>
        <bda-form-input
          [control]="highSchool"
          label="Szkoła średnia">
          <input type="text" formControlName="highSchool" placeholder="Liceum Ogólnokształcące nr II we Wrocławiu" id="highSchool-input">
        </bda-form-input>
      </div>
    </div>
  </section>

  <section class="bda-personal-data-form__section">
    <bda-section-header
      title="Pytania statystyczne"
      description="Pomóz nam coraz lepiej organizować Obóz i odpowiedz na kilka pytań."
    ></bda-section-header>
    <div
      class="bda-personal-data-form__others-section"
      formGroupName="statistics"
    >
      <div class="bda-personal-data-form__others-section-content">
        <bda-form-input
          [control]="knowAboutCampFrom"
          label="Skąd dowiedziałeś się po raz pierwszy o obozie?">
          <sui-select class="selection" formControlName="knowAboutCampFrom" placeholder="Wybierz jedną z opcji" id="knowAboutCampFrom-selection">
            <sui-select-option *ngFor="let option of campInfoOptions; let i = index"
                               [value]="option" [id]="'knownAboutCampFrom'+i">
            </sui-select-option>
          </sui-select>
        </bda-form-input>
        <bda-form-input
          [control]="onCampForTime"
          label="Który raz jedziesz na obóz?">
          <sui-select class="selection" formControlName="onCampForTime" placeholder="Wybierz jedną z opcji" id="onCampForTime-selection">
            <sui-select-option *ngFor="let option of whichOneGoForCamp; let i = index"
                               [value]="option" [id]="'onCampForTime'+i">
            </sui-select-option>
          </sui-select>
        </bda-form-input>
      </div>
    </div>
  </section>


  <section class="bda-personal-data-form__section">
    <bda-section-header title="Regulaminy i zgody"
    description="Aby zapisać się na Obóz, wszystkie poniższe zgody są wymagane."></bda-section-header>
    <div formGroupName="agreements">
      <div
        class="bda-agreement-checkbox"
        [ngClass]="{'bda-invalid-checkbox-field': campRegulations.invalid && campRegulations.touched}"
      >
        <sui-checkbox formControlName="campRegulations" id="campRegulations-checkbox">
          <div [innerHtml]="regulation"></div>
        </sui-checkbox>
      </div>
      <div
        class="bda-agreement-checkbox"
        [ngClass]="{'bda-invalid-checkbox-field': camperOwnResponsibility.invalid && camperOwnResponsibility.touched}"
      >
        <sui-checkbox formControlName="camperOwnResponsibility" id="camperOwnResponsibility-checkbox">
          Oświadczam, że wyjeżdżam na Obóz na własną odpowiedzialność. Organizatorzy nie ponoszą żadnej
          odpowiedzialności za straty majątkowe, uszkodzenia ciała czy inne wypadki. Organizatorzy informują, że
          uczestnik jest ubezpieczany przez organizatorów od NNW jedynie na terenie RP.
        </sui-checkbox>
      </div>
      <div
        class="bda-agreement-checkbox"
        [ngClass]="{'bda-invalid-checkbox-field': personalDataProcessing.invalid && personalDataProcessing.touched}"
      >
        <sui-checkbox formControlName="personalDataProcessing"  id="personalDataProcessing-checkbox">
          Zapoznałem (-am) się z treścią <b><a target="_blank" rel="noopener noreferrer" href="assets/documents/KLAUZULA_INFORMACYJNA.pdf">klauzuli informacyjnej</a></b>, w tym z informacją o celach i sposobach przetwarzania
          moich danych osobowych oraz prawach przysługujących mi w związku z przetwarzaniem danych osobowych przez Obóz.
        </sui-checkbox>
      </div>
    </div>
  </section>

  <bda-form-navigation-buttons
    [config]='{right: {text: "DALEJ", disabled: false}}'
    (clickRight)="onSubmitStepForm()"
  ></bda-form-navigation-buttons>

</form>
