@import '../../../../styles/responsivness';

.bda-admin-shirt-settings-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.5rem;

  .gt-md__screen({ grid-template-columns: 1fr 1fr; });
  // .gt-xl__screen({ grid-template-columns: 2fr 3fr 3fr; });
  nz-divider{
    margin-bottom: 0;
  }
}

.bda-admin-panel-section-card {
  min-height: 300px;

  h3 {
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
  }

}
