<section>
  <div fxLayout="column" fxLayoutAlign="flex-start center">

    <bda-photo-info-card [imageSrc]="academicMinistry.photoUrl ? academicMinistry.photoUrl : 'assets/images/placeholder/placeholder_church.png'">
      <div fxLayout="column" fxLayoutAlign="center center" class="content">
        <h2>{{academicMinistry.shortName}}</h2>
        <div class="meta">
          {{academicMinistry.officialName}}
        </div>
        <i class="huge map signs icon" style="margin: 10px"></i>
        <div class="meta" style="text-align: center">
          {{academicMinistry.address.street}} {{academicMinistry.address.number}}<br>
          <br>
          {{academicMinistry.address.postalCode}} {{academicMinistry.address.city}}
        </div>
      </div>
    </bda-photo-info-card>

    <div style="padding: 40px;"></div>

    <bda-photo-info-card
      *ngFor="let academicPriest of academicMinistry.priests"
      [imageSrc]="academicPriest.pictureUrl"
      imagePosition="right">
      <div fxLayout="column" fxLayoutAlign="center center" class="content">
        <h3>{{academicPriest.personalTitle.prefix}} {{academicPriest.firstName}} {{academicPriest.lastName}}
          {{academicPriest.personalTitle.postfix}}</h3>
        <div class="meta">
          Duszpasterz
        </div>
        <i class="huge map signs icon" style="margin: 10px"></i>
        <div class="meta" style="text-align: center">
          {{academicPriest.phoneNumber}}<br>
          <br>
          {{academicPriest.emailAddress}}
        </div>
      </div>
    </bda-photo-info-card>

  </div>
</section>
