<section>
  <div
    fxLayout="column"
    fxLayoutAlign="flex-start center"
    *ngIf="academicMinistry$ | async as academicMinistry"
  >
    <bda-photo-info-card
      [imageSrc]="academicMinistry.photoUrl ? academicMinistry.photoUrl : 'assets/images/placeholder/placeholder_church.png'">
      <div fxLayout="column" fxLayoutAlign="center center" class="content">
        <h2>{{academicMinistry.shortName ? academicMinistry.shortName : academicMinistry.officialName}}</h2>
        <div class="meta" *ngIf="academicMinistry.shortName">
          {{academicMinistry.officialName}}
        </div>
        <i class="huge map signs icon" style="margin: 10px"></i>
        <div class="meta" style="text-align: center" *ngIf="academicMinistry.place && academicMinistry.place.address">
          {{academicMinistry.place.address.street}} {{academicMinistry.place.address.homeNumber}}<br>
          <br>
          {{academicMinistry.place.address.postalCode}} {{academicMinistry.place.address.city}}
        </div>
      </div>
    </bda-photo-info-card>

    <ng-container *ngIf="academicPriests$ | async as academicPriests">
      <div style="padding: 40px">
        <h3 class="ui horizontal divider header" style="color: #9e9e9e">{{academicPriests.length > 1 ? 'DUSZPASTERZE' : ''}}</h3>
      </div>
      <bda-photo-info-card
        *ngFor="let academicPriest of academicPriests"
        [imageSrc]="academicPriest.photoUrl ? academicPriest.photoUrl : 'assets/images/placeholder/placeholder_person.jpg'"
        style="margin-bottom: 2rem;"
        imagePosition="right">
        <div fxLayout="column" fxLayoutAlign="center center" class="content">
          <h3>{{academicPriest.personalTitle.prefix}} {{academicPriest.firstName}} {{academicPriest.lastName}}
            {{academicPriest.personalTitle.postfix}}</h3>
          <div class="meta" style="font-size: 1rem">
            Duszpasterz
          </div>
          <i class="huge map signs icon" style="margin: 10px"></i>
          <div class="meta" style="text-align: center">
            {{academicPriest.phoneNumber}}<br>
            <br>
            {{academicPriest.emailAddress}}
          </div>
        </div>
      </bda-photo-info-card>
    </ng-container>

  </div>
</section>
