<section>
  <bda-mean-of-transport mapType="rectangle">
    <div fxLayout="column" fxLayoutAlign="flex-start center" class="bda-admin-transport__content">
      <a
        fxFlexAlign="flex-end"
        style="margin-top: 15px; margin-right: 10px;"
        href="https://www.facebook.com/groups/650780468356575/">
        <i class="big facebook square icon"></i>
      </a>
      <bda-mean-of-transport-header
        title="Samochód"
        description="Każda chatka oferuje ograniczoną liczbę miejsc parkingowych. Jeśli masz wolne miejsce w samochodzie lub nie masz z kim jechać - koniecznie zajrzyj na naszą grupę facebookową!"
        style="margin-bottom: 40px;"
      ></bda-mean-of-transport-header>
      <bda-camp-sign-up-button text="ZAPISZ SIĘ NA OBÓZ!"></bda-camp-sign-up-button>
    </div>
  </bda-mean-of-transport>
</section>
