<section>
  <div fxLayout="column" fxLayoutAlign="flex-start center">

    <bda-photo-info-card [imageSrc]="'assets/images/temp-placeholders/kosciol_antoni.jpg'">
      <h2>Antoni</h2>
      <div class="meta">
        Franciszkańskie Duszpasterstwo Akademickie
      </div>
      <i class="huge map signs icon" style="margin: 10px"></i>
      <div class="meta">
        Al. Jana Kasprowicza 26 <br>
        <br>
        51-131 Wrocław
      </div>
    </bda-photo-info-card>

    <div style="padding: 40px;"></div>

    <bda-photo-info-card [imageSrc]="'assets/images/temp-placeholders/o_oskar.jpg'" imagePosition="right">
      <h3>o. Oskar Michał Maciaczyk OFM</h3>
      <div class="meta">
        Duszpasterz
      </div>
      <i class="huge map signs icon" style="margin: 10px"></i>
      <div class="meta">
        999 999 999<br>
        <br>
        adresemail@email.com
      </div>
    </bda-photo-info-card>

  </div>
</section>
