@import "../../../../styles/mixins/responsivness";


$footer-background-color: #ececec;

footer{
  background-color: $footer-background-color;
  display: flex;
  flex-flow: row-reverse;
  padding: 2rem;

  @include gt-xs__screen() {
    padding: 2rem 4rem;
  }

  @include gt-sm__screen() {
    padding: 2rem 16rem;
  }

}
