<div style="margin: 3rem;">
  <div style="display: flex; justify-content: space-between">
    <nz-breadcrumb>
      <nz-breadcrumb-item>
        Zapisy na Obóz
      </nz-breadcrumb-item>
      <nz-breadcrumb-item style="white-space: nowrap">
        <b>Ustawienia Zapisów</b>
      </nz-breadcrumb-item>
    </nz-breadcrumb>
    <bda-admin-camp-edition-selection></bda-admin-camp-edition-selection>
  </div>
  <div class="bda-admin-camp-edition-settings-card">
    <h1>XXXVI Edycja Obozu</h1>
  </div>
</div>
