@import "../../../../styles/mixins/responsivness";


.bda-not-found {
  background: url('../../../../assets/images/core/404_background.jpg') center/cover;
  height: 80vh;
  margin-top: 1px;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.bda-not-found__card {
  background: white;
  box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.24);
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-flow: column;
  align-items: center;

  @include gt-xs__screen() {
    width: 80vw;
    border-radius: 4px;
    padding: 2.5rem;
  }

  @include gt-sm__screen() {
    margin-top: 10rem;
    width: 80vw;
    padding: 3rem;
    border-radius: 4px;
  }

  @include gt-md__screen() {
    width: 76rem;
  }
}
