.bda-mean-of-transport-card {
  width: 100%;
  overflow: hidden;
}

.bda-google-maps-square {
  width: 295px;
  height: 295px;
  background-color: darkgray;
}

.bda-google-maps-rectangle {
  width: 100%;
  height: 295px;
  background-color: darkgray;
}
