@import '../../../../styles/responsivness';

h2 {
  //text-transform: uppercase;
  //font-size: 1.17em;
  font-weight: bold;
  margin: 0;
}

.preview-label {
  color: #1890ff;
  border: 2px solid #1890ff;
  padding: 1px 10px 3px 10px;
  border-radius: 4px;
  line-height: 18px;
  display: inline;
  font-weight: 700;
  text-transform: uppercase;
}

.bda-admin-camp-registrations-settings__form {
  display: grid;
  grid-gap: 1.5rem;
  grid: "   camp    camp      statuses        statuses      statuses        " 16rem "   timer   timer     statuses        statuses      statuses       " auto "   regulations   regulations     regulations        statictics      statictics       " auto
    /   2fr     2fr 1fr 1fr 4fr;

  button {
    margin: 1rem;
  }
}

#camp-edition-preview {
  grid-area: camp;
}

#timer {
  grid-area: timer;
}

#statuses {
  grid-area: statuses;
}

#regulations-and-agreements {
  grid-area: regulations;
}

#statistical-questions {
  grid-area: statictics;
}
