@import "../../../../styles/mixins/responsivness";


.bda-photo-info-card {
  width: 100%;
  min-height: 300px;
  overflow: hidden;

  @include gt-sm__screen() {
    min-width: 650px;
  }
}

.bda-photo-info-card__content{
  padding-top: 2rem;

  @include gt-sm__screen() {
    padding-top: 0;
  }
}
