<div class="ui raised card bda-photo-info-card">
  <div class="ui items">
    <div class="item">
      <!--FIXME: Find better image scaling than medium class-->
      <div *ngIf="imageSrc && imagePosition == 'left'" fxLayoutAlign="center center">
        <img class="ui medium image" [src]="imageSrc" alt="">
      </div>
      <ng-content></ng-content>
      <div *ngIf="imageSrc && imagePosition == 'right'" fxLayoutAlign="center center">
        <img class="ui medium image" [src]="imageSrc" alt="">
      </div>
    </div>
  </div>
</div>
