@import "../../../../styles/variables/fonts";

a {
  margin-bottom: 10px;
  font-weight: bold;
  color: #757575;
  &:hover {
    color: $a-active-font-color;
  }
  &:active {
    color: $a-active-font-color;
  }
}

.link-active {
  color: $a-active-font-color;
}

