<section>
  <bda-mean-of-transport mapType="square">
    <div fxLayout="column" fxLayoutAlign="center center">
      <bda-mean-of-transport-header
        title="Autokar Białego Dunajca"
        description="Specjalny autokar wyjeżdżający z Wrocławia i Opola, który dostarczy Cię bezpośrednio pod Twoją chatkę."
      ></bda-mean-of-transport-header>
      <bda-dual-toggle-button
        style="margin-top: 20px; width: 400px;"
        [selected]="'left'"
        [options]="{ left: { name: 'Wrocław'}, right: { name: 'Opole' } }"
        (optionSelected)="selectBusFrom($event.name)"></bda-dual-toggle-button>
      <div style="padding: 50px; padding-bottom: 20px;">
        <p><b>Koszt:</b> {{selectedCampBusLine.oneWayCost.toString()}} (w jedną stronę)</p>
        <p><b>Data:</b> {{selectedCampBusLine.origin.when | date: 'dd.MM.yyyy'}}, godz:
          {{selectedCampBusLine.origin.when |
          date: 'hh:mm'}}</p>
        <p><b>Zbiórka:</b> {{selectedCampBusLine.origin.address.notes}}
          {{selectedCampBusLine.origin.address.street}} {{selectedCampBusLine.origin.address.number}},
          {{selectedCampBusLine.origin.address.postalCode}} {{selectedCampBusLine.origin.address.city}}
          {{selectedCampBusLine.busName}}
        </p>
        <p><b>Zapisy:</b> Odbywają się w formularzu zapisów na obóz. Po wypełnieniu formularza otrzymasz maila z
          instrukcją
          płatności.</p>
        <p><b>Powrót:</b> zapisy na autokar powrotny odbędą się w trakcie trwania obozu.</p>
        <p style="margin-bottom: 40px;"><b>Kontakt:</b> {{selectedCampBusLine.coordinatorContact.firstName}}
          {{selectedCampBusLine.coordinatorContact.lastName}} - Koordynator Wyjazdu
          {{selectedCampBusLine.coordinatorContact.phoneNumber}} ({{selectedCampBusLine.coordinatorContact.notes}})</p>
      </div>
      <bda-camp-sign-up-button text="ZAPISZ SIĘ NA OBÓZ!"></bda-camp-sign-up-button>
    </div>
  </bda-mean-of-transport>
</section>
