@import '../../../../styles/responsivness';

.bda-admin-camp-edition-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.5rem;

  .gt-lg__screen({ grid-template-columns: 1fr 1fr; })
}

.bda-admin-panel-section-card {
  .bda-admin-panel-section-card-content {
    display: flex;
    justify-content: space-between;
  }
}
