<div class="ui raised card bda-photo-info-card">
  <div class="ui items">
    <div class="item">
      <!--FIXME: Find better image scaling than medium class-->
      <div *ngIf="imageSrc && imagePosition == 'left'"><img class="ui medium rounded image" [src]="imageSrc" alt=""></div>

      <div fxLayout="column" fxLayoutAlign="center center" class="content">
        <ng-content></ng-content>
      </div>

      <div *ngIf="imageSrc && imagePosition == 'right'"><img class="ui medium rounded image" [src]="imageSrc" alt=""></div>

    </div>
  </div>
</div>
