<div class="bda-page-section-card bda-camp-news-item">
  <div
    class="bda-image-container">
    <img [src]="campNews.picture.url">
  </div>
  <div class="bda-camp-news-item__content">
    <div style="width: 100%;">
      <div style="display: flex; justify-content: space-between; align-items: center;">
        <p style="margin: 0;"><b>{{campNews.createdDate | date: 'd.MM.yyyy hh:mm'}}</b></p>
        <!--<a [href]="'https://www.facebook.com/bialydunajec/posts/' + campNews.id">
          <button
            class="ui primary button"
            (mouseover)="mouseOvered=true"
            (mouseout)="mouseOvered=false"
            [class.basic]="!mouseOvered"
          >
            <i class="facebook icon"></i>
            Czytaj więcej
          </button>
        </a>-->
      </div>
      <div class="ui divider"></div>
      <pre style="font: inherit; max-width: 100%; font-size: 1rem; white-space: pre-wrap;">{{campNews.message}}</pre>
    </div>
  </div>
</div>
