/* You can add global styles to this file, and also import other style files */
@import 'theme';
@import 'responsivness';

html, body {
  height: 100%;
  font-size: 0.875rem;
}

body {
  background-color: #f6f6f6;
}

.bda-admin-panel-section-card {
  background: white;
  padding: 1rem;
  margin-bottom: 0.5rem;

  .gt-sm__screen({ padding: 2rem; border-radius: 4px; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.24); })
}
