@import '../../../../styles/variables/fonts';
@import '../../../../styles/variables/dimensions';


.bda-academic-ministry-card {
  width: $academic-ministry-card-width;
  height: $academic-ministry-card-height;
}

.bda-academic-ministry-card__name {
  color: $a-active-font-color !important;
  font-weight: 700 !important;
}

.bda-academic-ministry-card__logo {
  display: flex;
  align-items: center;
  background-color: transparent;
  height: $academic-ministry-card-logo-height;
}
