<section class="bda-registration-verification bda-page-section">
  <div class="bda-registration-verification__card">
    <bda-section-header
      [title]="lastMessage.success ? 'Twoja przygoda właśnie się rozpoczęła!' : 'Weryfikacja zgłoszenia na Obóz'"
    ></bda-section-header>

    <sui-message *ngIf="lastMessage" [class]="'icon ' + lastMessage.additionalClass" [isDismissable]="false">
      <i [class]="lastMessage.icon"></i>
      <div class="content">
        <div class="header">
          {{lastMessage.header}}
        </div>
        <p>{{lastMessage.content}}</p>
      </div>
    </sui-message>

    <div
      *ngIf="lastMessage && lastMessage.success"
      style="margin-top: 1rem; text-align: center;"
    >
      <p>Nie doszedł do Ciebie e-mail z informacjami o Obozie?</p>
      <button class="ui orange button">Wyślij ponownie</button>
    </div>

  </div>
</section>
