<div class="bda-camp-registrations-reminder" style="width: 100%;">
<div>
  <h2 style="margin-bottom: 0.2rem;">Przypomnij mi</h2>
  <h3 style="font-weight: 400; margin-top: 0;">o rozpoczęciu zapisów</h3>
</div>

  <div class="ui left icon input" style="margin-top: 1rem;">
    <input type="text" placeholder="Adres email">
    <i class="envelope icon"></i>
  </div>
  <sui-checkbox style="margin-top: 1rem;">
    Akceptuję regulamin newslettera Obozu.
  </sui-checkbox>
  <a style="align-self: flex-end; margin-top: 1rem;">
    <button class="ui orange button">PRZYPOMNIJ MI</button>
  </a>
</div>
