<section>
  <div style="display: flex; justify-content: space-between;">
    <bda-admin-breadcrumbs
      [breadcrumbs]="['Zapisy na Obóz','Uczestnicy Obozu']"
    ></bda-admin-breadcrumbs>
    <bda-admin-camp-edition-selection
      (campEditionIdSelected)="onCampEditionIdSelected($event)"
      [campEditionsObservable]="availableCampEditions"></bda-admin-camp-edition-selection>
  </div>
  <div class="bda-admin-panel-section-card">
    <nz-table
      class="bda-camp-participant-table"
      #basicTable
      [nzData]="campParticipants"
      [nzLoading]="tableIsLoading"
      [nzTotal]="campParticipants.length"
      nzNoResult="Jeszcze nikt się nie zapisał. Aktywuj zapisy i czekaj na pierwszych obozowiczów!">
      <thead>
      <tr>
        <th>PESEL</th>
        <th>Nazwisko</th>
        <th>Imię</th>
        <th>Chatka</th>
        <th>E-mail</th>
        <th>Potwierdzony</th>
        <th>Opłacono zadatek</th>
        <th>Opłacono udział</th>
        <th nzShowExpand></th>
      </tr>
      </thead>
      <tbody>
      <ng-template ngFor let-data [ngForOf]="basicTable.data">
        <tr>
          <td>{{data.currentCamperData.personalData.pesel}}</td>
          <td>{{data.currentCamperData.personalData.lastName}}</td>
          <td>{{data.currentCamperData.personalData.firstName}}</td>
          <td>{{data.currentCamperData.cottage.cottageName}}</td>
          <td>{{data.currentCamperData.emailAddress}}</td>
          <td>{{data.participationStatus == 'CONFIRMED_BY_CAMPER' ? 'TAK' : (data.participationStatus == 'CONFIRMED_BY_AUTHORIZED' ? 'TAK (administracyjnie)' : 'NIE')}}</td>
          <td>{{data.downPaymentPaidDate ? 'TAK' : 'NIE'}}</td>
          <td>{{data.campParticipationPaidDate ? 'TAK' : 'NIE'}}</td>
          <td nzShowExpand [(nzExpand)]="data.expand"></td>
        </tr>
        <tr [nzExpand]="data.expand">
          <td [attr.colspan]="20">
            <div style="padding: 2rem;">
              <h2><b>{{data.currentCamperData.personalData.firstName}}
                {{data.currentCamperData.personalData.lastName}}</b></h2>
              <nz-divider></nz-divider>
              <div class="bda-admin-camp-participant-details__content">
                <div *ngIf="data.currentCamperData as camperData">
                  <p><b>PESEL:</b> {{camperData.personalData.pesel}}</p>
                  <p><b>Imię:</b> {{camperData.personalData.firstName}}</p>
                  <p><b>Nazwisko:</b> {{camperData.personalData.lastName}}</p>
                  <p><b>Płeć:</b> {{camperData.personalData.gender}}</p>
                  <p><b>Data urodzenia:</b> {{camperData.personalData.birthDate | date:'d.MM.yyyy'}}</p>
                </div>
                <div *ngIf="data.currentCamperData as camperData">
                  <p><b>Email:</b> {{camperData.emailAddress}}</p>
                  <p><b>Telefon:</b> {{camperData.phoneNumber}}</p>
                  <b>Adres:</b> {{camperData.homeAddress.street +' '+ camperData.homeAddress.homeNumber + ', ' +
                  camperData.homeAddress.postalCode + ' ' + camperData.homeAddress.city }}
                </div>
                <div *ngIf="data.currentCamperData.camperEducation as camperData">
                  <p><b>Uczelnia:</b> {{camperData.university}}</p>
                  <p><b>Wydział:</b> {{camperData.faculty}}</p>
                  <p><b>Kierunek:</b> {{camperData.fieldOfStudy}}</p>
                  <p><b>Maturzysta:</b> {{camperData.highSchoolRecentGraduate}}</p>
                  <p><b>Szkoła średnia:</b> {{camperData.highSchool}}</p>
                </div>
              </div>
              <div class="bda-admin-section-card-action">
                <button nz-button
                        *ngIf="data.participationStatus == 'WAITING_FOR_CONFIRM'"
                        nzType="primary"
                        type="button"><i class="anticon anticon-check"></i>Potwierdź uczestnictwo</button>
                <button nz-button
                        style="margin-left: 0.5rem;"><i class="anticon anticon-form"></i>Zmień wprowadzone dane</button>
                <!--<button nz-button
                        style="margin-left: 0.5rem;"><i class="anticon anticon-home"></i>Przepisz do innej chatki</button>-->
                <button nz-button
                        nz-popconfirm nzTitle="Czy jesteś pewien, że chcesz wypisać uczestnika z udziału w Obozie?"
                        style="margin-left: 0.5rem;"><i class="anticon anticon-close"></i>Wypisz z Obozu</button>
              </div>
            </div>
          </td>
        </tr>
      </ng-template>
      </tbody>
    </nz-table>
  </div>
</section>
