@import '../../../../styles/mixins/responsivness';

.bda-social-media-links{
  display: flex;
  flex-flow: column;
  .bda-social-media-link{
    margin-bottom: 10px;
  }

  @include gt-xs__screen() {
    flex-flow: row;
    .bda-social-media-link{
      margin-left: 10px;
    }
  }
}

