<form
  class="bda-personal-data-form ui form"
  [formGroup]="personalDataForm"
  (ngSubmit)="onSubmit()"
>
  <section class="bda-personal-data-form__section">
    <bda-section-header
      title="Dane Uczestnika"
      description="Dane osobowe są niezbędne do zbiorowego ubezpieczenia uczestników i nie będą udostępniane zewnętrznym podmiotom."
    ></bda-section-header>

    <div class="bda-personal-data-form__section-content">
      <div
        class="bda-personal-data-form__personal-data-section"
        formGroupName="personalData"
      >
        <bda-form-input-error
          [control]="gender"
          label="Płeć">
          <bda-dual-toggle-button
            formControlName="gender"
            [options]="{ left: { name: 'Kobieta', value: 'FEMALE'}, right: { name: 'Mężczyzna' , value: 'MALE'} }">
          </bda-dual-toggle-button>
        </bda-form-input-error>

        <bda-form-input-error
          [control]="firstName"
          label="Imię">
          <input type="text" formControlName="firstName">
        </bda-form-input-error>
        <bda-form-input-error
          [control]="lastName"
          label="Nazwisko">
          <input type="text" formControlName="lastName">
        </bda-form-input-error>
        <bda-form-input-error
          [control]="pesel"
          label="Pesel"
          [errorDefs]="{invalidPesel: 'Niepoprawny numer PESEL'}"
        >
          <input type="text" formControlName="pesel">
        </bda-form-input-error>
      </div>

      <div>
        <div
          class="bda-personal-data-form__home-address-section"
          formGroupName="homeAddress"
        >
          <div style="display: flex; justify-content: space-between;">
            <bda-form-input-error
              style="flex: 12; margin-right: 10px"
              [control]="street"
              label="Ulica">
              <input type="text" formControlName="street" placeholder="Przykładowa">
            </bda-form-input-error>
            <bda-form-input-error
              style="flex: 5; margin-left: 10px"
              [control]="number"
              label="Nr domu">
              <input type="text" formControlName="number" placeholder="192a/2">
            </bda-form-input-error>
          </div>

          <div style="display: flex; justify-content: space-between">
            <bda-form-input-error
              style="flex: 5; margin-right: 10px"
              [control]="postalCode"
              label="Kod pocztowy">
              <input type="text" formControlName="postalCode" placeholder="12-345">
            </bda-form-input-error>
            <bda-form-input-error
              style="flex: 12; margin-left: 10px"
              [control]="city"
              label="Miasto">
              <input type="text" formControlName="city" placeholder="Wrocław">
            </bda-form-input-error>
          </div>

        </div>

        <div
          class="bda-personal-data-form__contact-section"
          formGroupName="contact"
        >
          <bda-form-input-error
            [control]="emailAddress"
            label="Email"
            [errorDefs]="{email: 'Niepoprawny adres email'}"
          >
            <input type="email" formControlName="email" placeholder="jan.kowalski@test.com">
          </bda-form-input-error>

          <bda-form-input-error
            [control]="phoneNumber"
            label="Telefon">
            <input type="tel" formControlName="telephone">
          </bda-form-input-error>

        </div>
      </div>
    </div>
  </section>

  <section
    class="bda-personal-data-form__section"
  >
    <bda-section-header
      title="Uczelnia"
      description="Potrzebne do zaplanowania imprez obozowych. Jeśli jeszcze nie studiujesz, podaj uczelnię, na której chciałbyś studiować."
    ></bda-section-header>
    <div
      class="bda-personal-data-form__education-section"
      formGroupName="education"
    >
      <div class="bda-personal-data-form__university-section">
        <bda-form-input-error
          [control]="university"
          label="Uczelnia">
          <input type="tel" formControlName="university">
        </bda-form-input-error>
        <bda-form-input-error
          [control]="faculty"
          label="Wydział">
          <input type="tel" formControlName="faculty">
        </bda-form-input-error>
        <bda-form-input-error
          [control]="fieldOfStudy"
          label="Kierunek">
          <input type="tel" formControlName="fieldOfStudy">
        </bda-form-input-error>
      </div>
      <div class="bda-personal-data-form__high-school-section">
        <div class="field">
          <sui-checkbox formControlName="isRecentHighSchoolGraduate">
            <b>Jestem maturzystą</b>
          </sui-checkbox>
        </div>
        <bda-form-input-error
          [control]="highSchool"
          label="Liceum">
          <input type="tel" formControlName="highSchool">
        </bda-form-input-error>
      </div>
    </div>
  </section>

  <section class="bda-personal-data-form__section">
    <bda-section-header title="Pozostałe"></bda-section-header>
    <div
      class="bda-personal-data-form__others-section"
      formGroupName="statistics"
    >
      <div class="bda-personal-data-form__others-section-content">
        <bda-form-input-error
          [control]="knowAboutCampFrom"
          label="Skąd dowiedziałeś się po raz pierwszy o obozie?">
          <sui-select class="selection" formControlName="knowAboutCampFrom">
            <sui-select-option *ngFor="let option of campInfoOptions"
                               [value]="option">
            </sui-select-option>
          </sui-select>
        </bda-form-input-error>

        <div class="field">
          <sui-checkbox formControlName="wasCamperInThePast">
            <b>Byłem już na Obozie</b>
          </sui-checkbox>
        </div>

        <bda-form-input-error
          [control]="onCampForTime"
          label="Który raz jedziesz na obóz?">
          <sui-select class="selection" formControlName="onCampForTime">
            <sui-select-option *ngFor="let option of whichOneGoForCamp"
                               [value]="option">
            </sui-select-option>
          </sui-select>
        </bda-form-input-error>


      </div>
    </div>
  </section>

  <button type="submit">Submit</button>

  <bda-form-navigation-buttons
    [config]='{right: {text: "Dalej", disabled: false}}'
    (clickRight)="onClickNext()"
  ></bda-form-navigation-buttons>

</form>
