<div class="bda-admin-cottage-card">
  <div style="display: flex; justify-content: space-between">
    <h2 style="font-weight: bold; margin: 0">Chatka {{cottage.name}}</h2>
    <bda-admin-cottage-status-badge [cottageStatus]="cottage.cottageState"></bda-admin-cottage-status-badge>
  </div>
  <nz-divider></nz-divider>
  <div class="bda-admin-cottage-card-content">
    <div class="bda-admin-cottage-logo">
      <img [src]="cottage.logoImageUrl ? cottage.logoImageUrl : 'assets/images/placeholder/placeholder_church.png'"
           class="img-responsive"
           alt="Brak obrazu pod wskazanym url.">
    </div>
    <div style="margin-left: 2rem;">
      <nz-form-item>
        <nz-form-label>Nazwa Chatki</nz-form-label>
        <nz-form-control>
          <p>{{cottage.name}}</p>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div style="justify-self: flex-end; align-self: flex-end" *ngIf="campParticipantsPercentByCottageId | async as campParticipants">
      <nz-progress [nzStatus]="!campParticipants.percent ? 'exception' : ''" [nzPercent]="!campParticipants.percent ? 100 : campParticipants.percent" nzType="circle"></nz-progress>
      <h3 style="text-align: center; margin-bottom: 0; margin-top: 0.8rem;"><b>Zapisanych:</b> {{campParticipantCount}}/{{cottage.cottageSpace.fullCapacity}}</h3>
    </div>
  </div>
  <div class="bda-admin-section-card-action">
    <button nz-button nzType="primary"
            [routerLink]="[cottage.cottageId]">Więcej
    </button>
    <button nz-button
            class="bda-admin-section-card-action-small-button"
            [routerLink]="[cottage.cottageId,'edit']"
            style="margin-left: 0.5rem;"><i class="anticon anticon-edit"></i></button>
    <button nz-button
            class="bda-admin-section-card-action-small-button"
            nz-popconfirm nzTitle="Czy jesteś pewien, że chcesz usunąć Chatkę?"
            style="margin-left: 0.5rem;"><i class="anticon anticon-delete"></i></button>
  </div>
</div>
