@import '../../../../styles/mixins/responsivness';

.bda-form-input {
  .bda-form-input__label {
    @include gt-xs__screen() {
      white-space: nowrap !important;
    }
  }
}

.bda-error__content {
  margin-top: 0.5rem;
  color: red;
  font-size: 0.9rem;
  font-weight: bold;
}
