<section fxLayoutAlign="center">
  <div fxFlex.lt-lg="90%" fxFlex="800px">
    <bda-section-header
      title="Dojazd"
      description="Tutaj znajdziesz informacje o różnych opcjach dojazdu do Białego Dunajca.">
    </bda-section-header>
    <bda-transport-info-camp-bus></bda-transport-info-camp-bus>
    <div style="height: 50px;"></div>
    <bda-transport-info-car></bda-transport-info-car>
    <div style="height: 50px;"></div>
    <bda-transport-info-hitch-hiking></bda-transport-info-hitch-hiking>
  </div>
</section>
