<div class="bda-transport-card bda-mean-of-transport-card"
     [ngClass]="mapType === 'square' ? 'bda-mean-of-transport-square' : 'bda-mean-of-transport-rectangle'">
  <div id="transport-icon-container">
    <ng-content select=".bda-admin-transport__image"></ng-content>
  </div>
  <div id="google-maps" *ngIf="mapType">
    <ng-content select=".bda-admin-transport__google-map"></ng-content>
  </div>
  <div id="transport-info-container">
    <ng-content select=".bda-admin-transport__content"></ng-content>
  </div>
</div>
