<section>
  <div style="display: flex; justify-content: space-between;">
    <bda-admin-breadcrumbs
      [breadcrumbs]="['Wiadomości Email','Utwórz wiadomość']"
    ></bda-admin-breadcrumbs>
  </div>
  <div class="bda-admin-create-message__content">
    <div
      class="bda-admin-panel-section-card">
      <h2>Wysyłanie nowej wiadomości</h2>
      <nz-divider></nz-divider>

      <div
        nz-form
        [formGroup]="createMessageForm"
        class="bda-admin-create-message-card__content">
        <div>
          <nz-form-label nzRequired nzFor="recipients">Adresaci</nz-form-label>
          <nz-form-item formArrayName="recipients"
                           style="min-height: 320px; max-height: 320px; overflow-y: scroll; padding-right: 2rem;">

            <nz-form-control
              *ngFor="let control of recipientsFormControls;let i = index"
              [formGroupName]="i">
              <div style="display: flex; justify-content: space-between; align-items: center">
                <!--<input nz-input placeholder="Imię i nazwisko" formControlName="name">-->
                <p style="margin: 0;"><b>{{i+1}}.</b></p>
                <input nz-input placeholder="Adres email" style="margin-left: 1rem;" formControlName="emailAddress">
                <i
                  class="material-icons dynamic-delete-button"
                  style="margin-left: 1rem;" (click)="deleteRecipientFormControl(i)">{{recipientsFormControls.length > 1
                  ? 'highlight_off' : ''}}</i>
              </div>
              <nz-form-explain style="margin-left: 1rem;" *ngIf="control.dirty && control.errors">Proszę podać
                poprawny adres email adresata.
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>

          <button
            nz-button nzType="dashed" style="margin-top: 1rem;"
            (click)="addRecipient()"><i nz-icon type="plus"></i> Dodaj adresata
          </button>

        </div>

        <div>
          <nz-form-item>
            <nz-form-label nzRequired nzFor="subject">Temat</nz-form-label>
            <nz-form-control>
              <input nz-input formControlName="subject" id="subject">
              <nz-form-explain *ngIf="subjectFormControl.dirty && subjectFormControl.errors">Proszę wpisać temat
                wiadomości.
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label nzRequired nzFor="content">Treść wiadomości</nz-form-label>
            <nz-form-control>
              <textarea formControlName="content" id="content" nz-input
                        [nzAutosize]="{ minRows: 10, maxRows: 10 }"></textarea>
              <nz-form-explain *ngIf="contentFormControl.dirty && contentFormControl.errors">
                Proszę wpisać treść wiadomości.
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>

          <div style="display: flex; flex-flow: column; align-items: flex-end;">
            <button nz-button nzType="primary"
                    (click)="submitEmailMessage()"
                    [nzLoading]="submittingInProgress" type="submit">{{submittingInProgress ? 'Wysyłanie wiadomości...':'Wyślij wiadomość'}}
            </button>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

